<?xml version="1.0"?>
<launch>
    <!-- Simulator Bridge -->
    <include file="$(find styx)/launch/server.launch" />

    <!--Traffic Light Capture Node -->
    <include file="$(find capture_images_sim)/launch/capture_images_sim.launch"/>

    <!--Traffic Light Locations and Camera Config -->
    <param name="traffic_light_config" textfile="$(find tl_detector)/sim_traffic_light_config.yaml" />

    <!--Throttle node for image publisher -->
    <node name="image_color_throttler" type="throttle" pkg="topic_tools" args="messages /image_color 10
    /image_color_throttled" />

    <!--Throttle node for image publisher -->
    <node name="tl_throttler" type="throttle" pkg="topic_tools" args="messages /vehicle/traffic_lights 10
    /vehicle/traffic_lights_throttled" />

</launch>