<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector_tf_api" type="tl_detector_tf_api.py" name="tl_detector_tf_api" output="screen" cwd="node">
        <param name="detection_model" value="$(find tl_detector_tf_api)../../../data/traffic-light-models/rfcn_resnet101_coco_11_06_2017/frozen_inference_graph.pb" />
        <param name="classification_model_path" value="$(find tl_detector_tf_api)../../../data/traffic-light-models/keras_lenet_classification/" />
    </node>
</launch>